<% if @game.double_damage == true %>

  <h1>CRITICAL HIT!! GET SOME!!</h1>

<% end %>

  <h1><%= @game.turn.name %> is hurt badly</h1>
  <h2><%= @game.turn.name %> : <%= @game.turn.hp %> HP</h2>

<% if @game.player_1.hp <= 0 %>

  <h1><%= @game.player_1.name %> loses because they are a loser</h1>
  <form action="/">
    <input type="submit" value="New Game?">
  </form>

<% elsif @game.player_2.hp <= 0 %>

  <h1><%= @game.player_2.name %> loses because they are a loser</h1>
  <form action="/">
    <input type="submit" value="New Game?">
  </form>

<% else %>

  <form action="/play">
    <input type="submit" value="Next turn">
  </form>

<% end %>
