<% if @game.turn == @game.player_2 %>

  <h1><%= @game.player_2.name %> is hurt badly</h1>
  <h2><%= @game.player_2.name %> : <%= @game.player_2.hp %> HP</h2>

<% else %>

  <h1><%= @game.player_1.name %> is hurt badly</h1>
  <h2><%= @game.player_1.name %> : <%= @game.player_1.hp %> HP</h2>

<% end %>

<% if @game.player_1.hp <= 0 %>

  <h1><%= @game.player_1.name %> loses because they are a loser</h1>
  <form action="/">
    <input type="submit" value="New Game?">
  </form>

<% elsif @game.player_2.hp <= 0 %>

  <h1><%= @game.player_2.name %> loses because they are a loser</h1>
  <form action="/">
    <input type="submit" value="New Game?">
  </form>

<% else %>

  <form action="/play">
    <input type="submit" value="Next turn">
  </form>

<% end %>
