<% if @game.turn == @game.player_2 %>
<h1><%= @game.player_2.name %> is hurt badly</h1>
<h2><%= @game.player_2.name %> : <%= @game.player_2.hp %> HP</h2>
<% else %>
<h1><%= @game.player_1.name %> is hurt badly</h1>
<h2><%= @game.player_1.name %> : <%= @game.player_1.hp %> HP</h2>
<% end %> 
<form action="/play">
  <input type="submit" value="Next turn">
</form>
