<h1><%= @game.player_1.name %> VS <%= @game.player_2.name %></h1>

<h2><%= @game.player_1.name %> : <%= @game.player_1.hp %> HP </h2>
<h2><%= @game.player_2.name %> : <%= @game.player_2.hp %> HP </h2>

<% if @game.turn == @game.player_1 %>
<form action="/attack">
  <input type="submit" value="Attack Player 2">
</form>

<% else %>

<form action="/attack">
  <input type="submit" value="Attack Player 1">
</form>

<% end %>
